
<a href="@Url.Action("Giohang","Giohang")" style="color:white; font-weight:bold; text-decoration:none">
    <img style="width:16px" src="~/images/shopping-cart-icon-19.png" />Giỏ hàng (@ViewBag.TongSoLuong)
</a>